.wrapper {
  align-items: center;
  background-color: var(--color-yellow-primary100);
  color: var(--color-black100);
  display: flex;
  flex-direction: column;
  padding: 2rem 8rem;
  text-align: center;
  width: 100%;
}

.wrapper h1 {
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
