.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.playlist__button {
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.playlist__button:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
