.wrapper {
  align-items: center;
  background-color: #ffffff;
  color: grey;
  display: grid;
  grid-template-columns: [nav] 8fr [actions] 4fr;
  margin-top: 0.5rem;
  padding: 0 6rem;
}

.playlist__current {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  width: 8rem;
}

.playlist__navigation-item {
  text-transform: capitalize;
  text-align: center;
  user-select: none;
  width: 8rem;
}
