.wrapper {
  align-items: center;
  background-color: #ffffff;
  color: grey;
  display: grid;
  grid-template-columns: [nav] 8fr [actions] 4fr;
  margin-top: 0.5rem;
  padding: 0 6rem;
}

.playlist__current {
  align-items: center;
  background-color: var(--color-yellow-primary100);
  border-radius: 4px;
  color: var(--color-brown70);
  display: flex;
  font-weight: bold;
  height: 2rem;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  width: 8rem;
}

.playlist__navigation-item {
  text-transform: capitalize;
  text-align: center;
  user-select: none;
  width: 8rem;
}
