.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  justify-self: center;
  gap: 1rem;
  padding: 1rem;
  height: 38rem;
  width: 24rem;
  border-radius: 0.25rem;
  color: #242424;
  box-shadow: 0 0 0.5rem var(--color-shadow-soft);
}

.header {
  text-align: center;
}

.sprite-card {
  background-color: grey;
  border-radius: 4px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  min-width: 300px;
  padding: 0.5rem;
}

.sprite-wrapper {
  background-color: orange;
  border-radius: 4px;
  border: 1px solid #d8816f;
  height: 150px;
  width: 150px;
}

.sprite {
  height: inherit;
  width: inherit;
}

.artwork__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 1rem;
  height: 18rem;
  width: 18rem;
}

.artwork {
  height: 275px;
  width: 275px;
}

.artwork__types-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 0.25rem;
  align-items: center;
  width: 18rem;
}

.artwork__type {
  padding: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-white100);
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
  border: 1px solid var(--color-white100);
  border-radius: 0.25rem;
}

.artwork__type--normal {
  background-color: var(--color-type-normal);
}

.artwork__type--fire {
  background-color: var(--color-type-fire);
}

.artwork__type--water {
  background-color: var(--color-type-water);
}

.artwork__type--electric {
  background-color: var(--color-type-electric);
}

.artwork__type--grass {
  background-color: var(--color-type-grass);
}

.artwork__type--ice {
  background-color: var(--color-type-ice);
}

.artwork__type--fighting {
  background-color: var(--color-type-fighting);
}

.artwork__type--poison {
  background-color: var(--color-type-poison);
}

.artwork__type--ground {
  background-color: var(--color-type-ground);
}

.artwork__type--flying {
  background-color: var(--color-type-flying);
}

.artwork__type--psychic {
  background-color: var(--color-type-psychic);
}

.artwork__type--bug {
  background-color: var(--color-type-bug);
}

.artwork__type--rock {
  background-color: var(--color-type-rock);
}

.artwork__type--ghost {
  background-color: var(--color-type-ghost);
}

.artwork__type--dragon {
  background-color: var(--color-type-dragon);
}

.artwork__type--steel {
  background-color: var(--color-type-steel);
}

.artwork__type--fairy {
  background-color: var(--color-type-fairy);
}

.artwork--shadow-white {
  filter: drop-shadow(0 0 0.5rem var(--color-shadow-white));
}

.artwork--shadow-soft {
  filter: drop-shadow(0 0 0.5rem var(--color-shadow-hard));
}

.artwork--bg-black {
  background-color: var(--color-species-black);
}

.artwork--bg-blue {
  background-color: var(--color-species-blue);
}

.artwork--bg-brown {
  background-color: var(--color-species-brown);
}

.artwork--bg-green {
  background-color: var(--color-species-green);
}

.artwork--bg-grey {
  background-color: var(--color-species-grey);
}

.artwork--bg-pink {
  background-color: var(--color-species-pink);
}

.artwork--bg-purple {
  background-color: var(--color-species-purple);
}

.artwork--bg-red {
  background-color: var(--color-species-red);
}

.artwork--bg-white {
  background-color: var(--color-species-white);
}

.artwork--bg-yellow {
  background-color: var(--color-species-yellow);
}

.artwork--bg-gray {
  background-color: var(--color-species-gray);
}

.stat__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  width: 22rem;
}

.stat__item {
  margin-bottom: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.stat__label {
  margin-bottom: 0.25rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-transform: upperCase;
  color: var(--color-black30);
  border-bottom: 1px solid var(--color-black10);
}

.stat__value {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: upperCase;
  color: var(--color-black40);
}

.size__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  width: 15rem;
}

.size__item {
  display: grid;
  grid-template-rows: 2rem;
  gap: 0.1rem;
}

.size__item--left {
  grid-template-columns: 2rem 1fr;
}

.size__item--right {
  grid-template-columns: 1fr 2rem;
}

.size__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  background-color: var(--color-shadow-soft);
  border: 1px solid var(--color-shadow-soft);
}

.size__item-value {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: 600;
  text-align: center;
  border: 1px solid var(--color-black10);
}

.size__item-info--left {
  border-radius: 0.25rem 0 0 0.25rem;
}

.size__item-info--right {
  border-radius: 0 0.25rem 0.25rem 0;
}

.abilities__container {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 0 1rem;
  width: 18rem;
  border: 1px solid var(--color-black10);
  border-radius: 0.25rem;
}

.ability__item {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.5rem 1.5rem;
  width: 100%;
  font-size: 0.65rem;
  font-weight: 600;
  color: var(--color-black30);
  text-transform: uppercase;
}

.ability__item > p {
  flex-grow: 1;
}

.ability__item:not(:last-child) {
  border-bottom: 1px solid var(--color-black10);
}
