.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-top: 2rem;
  background-color: white;
  border-radius: 0.25rem;
  color: #242424;
}

.header {
  text-align: center;
}

.sprite-card {
  background-color: grey;
  border-radius: 4px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  min-width: 300px;
  padding: 0.5rem;
}

.sprite-wrapper {
  background-color: orange;
  border-radius: 4px;
  border: 1px solid #d8816f;
  height: 150px;
  width: 150px;
}

.sprite {
  height: inherit;
  width: inherit;
}

.artwork__container {
  border-radius: 1rem;
  height: 325px;
  width: 300px;
}

.artwork {
  height: 275px;
  width: 275px;
}

.artwork--bg-black {
  background-color: var(--color-species-black);
}

.artwork--bg-blue {
  background-color: var(--color-species-blue);
}

.artwork--bg-brown {
  background-color: var(--color-species-brown);
}

.artwork--bg-green {
  background-color: var(--color-species-green);
}

.artwork--bg-grey {
  background-color: var(--color-species-grey);
}

.artwork--bg-pink {
  background-color: var(--color-species-pink);
}

.artwork--bg-purple {
  background-color: var(--color-species-purple);
}

.artwork--bg-red {
  background-color: var(--color-species-red);
}

.artwork--bg-white {
  background-color: var(--color-species-white);
}

.artwork--bg-yellow {
  background-color: var(--color-species-yellow);
}
