:root {
  --color-black100: #000;
  --color-brown70: #5c3613b3;
  --color-red: #e92929;
  --color-species-black: #595959;
  --color-species-blue: #308af3;
  --color-species-brown: #b27130;
  --color-species-green: #41ba69;
  --color-species-grey: #a2a2a2;
  --color-species-pink: #fb92cb;
  --color-species-purple: #aa69c3;
  --color-species-red: #f35969;
  --color-species-white: #f3f3f3;
  --color-species-yellow: #f3d349;
  --color-white100: #fff;
  --color-yellow-primary100: #f4dc26;
  --color-yellow-secondary100: #ffe62d;
}
